/*
    Project: Personal Portfolio
    Owner: Aaryan Sharma
    Date: 23rd July 2024
    File: articleStyles.css
*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

header {
  background-color: #d1c4e9;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
  color: black;
}

.profile-pic {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.menu button {
  background: none;
  border: none;
  font-size: 2.5em;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  width: 250px;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.header-content {
  text-align: center;
}

.tagline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1em;
}

main {
  padding: 20px;
}

#about {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#articles {
  text-align: center;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.article-thumbnail {
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: transform 0.3s;
  cursor: pointer;
}

.article-thumbnail h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.article-thumbnail p {
  font-size: 0.9em;
  padding: 0 10px 10px 10px;
}

.article-thumbnail:hover {
  transform: scale(1.05);
}

.page-transition {
  opacity: 0;
  background: #D1C4E9;
  transform: translateX(40px);
  filter: blur(10px);
  transition: opacity 0.2s, transform 0.2s, filter 0.2s;
}