/*
    Project: Personal Portfolio
    Owner: Aaryan Sharma
    Date: 13th June 2024
    File: styles.css
*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

header {
  background-color: #d1c4e9;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
  color: black;
}

.profile-pic {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.menu button {
  background: none;
  border: none;
  font-size: 2.5em;
  color: black;
}

.menu-icon {
  width: 40px;
  height: 40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  width: 250px;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

section {
  padding: 20px 20px;
  background-color: #fff;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: black;
}

.tagline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1em;
}

.date {
  font-style: italic;
}

.details {
  text-align: left;
  padding: 0 20px;
  list-style-type: disc;
  font-size: 1em;
  line-height: 1.75em;
}

p {
  line-height: 1.6;
  text-align: left;
  color: black;
  padding: 0 20px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.contact-icons img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s;
}

.contact-icons img:hover {
  transform: scale(1.1);
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
}

.project, .experience {
  margin-bottom: 20px;
}

.edu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edu-date {
  text-align: right;
}

.header-content {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  text-decoration: none;
  color: white;
  background-color: #7C698E;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #504062;
}

.left-btn {
  margin-right: 150px;
}

.right-btn {
  margin-left: 150px;
}

.video-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.video-container iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border-radius: 10px;
  border: none;
}

.pdf-viewer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: none;
  overflow: hidden;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #7C698E;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.page-transition {
  opacity: 0;
  background: #D1C4E9;
  transform: translateX(40px);
  filter: blur(10px);
  transition: opacity 0.2s, transform 0.2s, filter 0.2s;
}

.button-28 {
  appearance: none;
  background-color: #7C698E;
  border: 2px solid #504062;
  border-radius: 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0 10px 10px 0;
  min-height: 60px;
  min-width: 200px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  white-space: nowrap;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #504062;
  background-color: transparent;
  border-color: #504062;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}